@model AdminSide.Models.Competition

@{
    ViewData["Title"] = "Index";
}

<br>
<div class="container">
    <div class="float-right">
        <a asp-action="Create" asp-route-id="@Model.ID"><input type="button" value="New challenge" class="btn btn btn-primary"></a>
    </div>
    <br>
    <br>
    @foreach (var category in Model.CompetitionCategories)
    {

        <h2>@Html.DisplayFor(modelItem => category.CategoryName)</h2>
        <hr>
        <div>
            <row>
                <!--To standardize size of box/styling in future updates-->
                <div>
                    @if (category.Challenges.Count == 0)
                    {
                        <p>This category has no challenges yet</p>
                    }
                    else
                    {
                        @foreach (var challenge in category.Challenges)
                        {
                            <a asp-controller="Challenges" asp-action="Details" asp-route-id="@challenge.ID">
                                <button type="button" class="btn btn-dark">
                                    @Html.DisplayFor(modelItem => challenge.Name)
                                    <br>
                                    @Html.DisplayFor(modelItem => challenge.Value)
                                </button>
                            </a>
                        }
                    }
                </div>
            </row>
        </div>
    }
    <br>
    <a asp-controller="Competitions" asp-action="Details" asp-route-id="@Model.ID"><input type="button" value="Back to Competition Details" class="btn btn btn-default"></a>
</div>