@model AdminSide.Models.Competition

@{
    ViewData["Title"] = "Index";
}

<br>
<div class="col-md-8 offset-2">
    <div class="float-right">
        <a asp-action="Create" asp-route-id="@Model.ID"><button type="button" class="btn btn-danger">New Challenge</button></a>
    </div>
    <br>
    <br>
    @foreach (var item in Model.CompetitionCategories)
    {
        <h2>@Html.DisplayFor(modelItem => item.CategoryName)</h2>
        <hr>
        <div>
            <row>
                <!--To standardize size of box/styling in future updates-->
                <div>
                    @foreach (var item1 in Model.Challenges)
                    {
                        if (item1.CompetitionCategoryID == item.ID)
                        {
                            <a asp-controller="Challenges" asp-action="Details" asp-route-id="@item1.ID">
                                <button type="button" class="btn btn-light">
                                    @Html.DisplayFor(modelItem => item1.Name)
                                    <br>
                                    @Html.DisplayFor(modelItem => item1.Value)
                                </button>
                            </a>
                        }
                    }
                </div>
            </row>
        </div>
    }
    <a asp-controller="Competitions" asp-action="Details" asp-route-id="@Model.ID"><button type="button" class="btn btn-default">Back to Competition Details</button></a>
</div>