@model IEnumerable<UserSide.Models.Chat>
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "LIVE CHAT";
}

<!DOCTYPE html>
<html>
<head>

    <style>
        h2 {
            margin-top: 30px;
            text-align: center;
        }
    </style>

</head>

<body>

    <h2>@ViewData["Title"]</h2>

    <!--Individual-->

    @UserManager.GetUserId(User);

    <div class="container">
       
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.MsgCount)
                    </th>
                    <th>
                        Recipent
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>

                    @if (UserManager.GetUserName(User).Equals(item.UserOne))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.MsgCount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserTwo)
                        </td>
                        <td>
                            <form>
                                <button type="submit" class="btn btn-default" asp-action="TalkView">Chat</button>
                            </form>
                        </td>
                    }
                    @if (UserManager.GetUserName(User).Equals(item.UserTwo))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.MsgCount)
                        </td>
                        <td>
                            <div id="group-name">
                                @Html.DisplayFor(modelItem => item.UserOne)
                            </div>
                        </td>
                        <td>
                            <form asp-action="TalkView">
                                <button type="submit" class="btn btn-default" id="join-group" >Chat</button>
                            </form>
                        </td>
                    }

                </tr>
                }
                <
                   
            </tbody>
        </table>

       
        <form>
            <div class="form-row">
                <div class="col-7">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-dark"><i class="material-icons">search</i></button>
                    <button type="submit" class="btn btn-dark" asp-action="CreateGroup"><i class="material-icons">group_add</i></button>
                    <button type="submit" class="btn btn-dark" asp-action="CreateChat"><i class="material-icons">chat</i></button>
                </div>
            </div>
        </form>


        <script src="~/lib/signalr/dist/browser/signalr.js"></script>
        <script src="~/js/chat.js"></script>


    </div>
</body>
</html>