@model IEnumerable<AdminSide.Models.Competition>

@{
    ViewData["Title"] = "Competition Home";
}

<title>@ViewData["Title"] - Competition Home</title>

<style>
    #actionButton {
        width:112px;
        margin-bottom:10px;
    }
</style>

<br>
<div class="container">
    <div class="float-right">
        <a asp-action="Create"><input type="button" value="New CTF" class="btn btn btn-primary"></a>
    </div>
    <br>
    <h2>Upcoming CTF</h2>
    <hr>
    <br>
    <h2>Ongoing CTF</h2>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CompetitionName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompetitionName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.ID"><input type="button" value="View Details" class="btn btn btn-default" id="actionButton"></a>
                        <a asp-action="Edit" asp-route-id="@item.ID"><input type="button" value="Edit" class="btn btn btn-default" id="actionButton"></a>
                        <a asp-action="Delete" asp-route-id="@item.ID"><input type="button" value="Delete" class="btn btn btn-default" id="actionButton"></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br>
    <h2>Past CTF</h2>
    <hr>
</div>
