@using Microsoft.AspNetCore.Identity
@model IEnumerable<UserSide.Models.Competition>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 0;
}
@inject UserManager<IdentityUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);

}

<h1>@user.Id</h1>
<br>
<div class="container">
    <h2>Ongoing CTF</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CompetitionName)
                    Competition Name
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                    Status
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var competition in Model)
            {
                counter = 0;
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => competition.CompetitionName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => competition.Status)
                    </td>
                    <td>
                        @if (competition.Teams.Count == 0)
                        {
                            <a asp-controller="Competitions" asp-action="SignUp" asp-route-id="@competition.ID"><button type="button" class="btn btn-default">Join</button></a>
                            //break;
                        }
                        else
                        {
                            @foreach (var team in competition.Teams)
                            {
                                if (counter == 0)
                                {
                                    @if (team.TeamUsers.Count == 0)
                                    {
                                        <a asp-controller="Competitions" asp-action="SignUp" asp-route-id="@competition.ID"><button type="button" class="btn btn-default">Join</button></a>
                                        //break;
                                    }
                                    else
                                    {
                                        @foreach (var teamUsers in team.TeamUsers)
                                        {
                                            if (teamUsers.UserId.Equals(user.Id))
                                            {
                                                <a asp-controller="Challenges" asp-action="Index" asp-route-id="@competition.ID"><button type="button" class="btn btn-default">Enter</button></a>
                                                counter = 1;
                                                break;
                                            }
                                            else
                                            {
                                                <a asp-controller="Competitions" asp-action="SignUp" asp-route-id="@competition.ID"><button type="button" class="btn btn-default">Join</button></a>
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br>
    <h2>Past CTF</h2>
</div>