@using Microsoft.AspNetCore.Identity
@model IEnumerable<UserSide.Models.Competition>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 0;
    int counter2 = 0;
}
@inject UserManager<IdentityUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);

}

<br>
<div class="container">
    @if ((bool)ViewData["ShowWrongDirectory"] == true)
    {
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Invalid Directory!</h4>
            <p>Ignore if this was accidental</p>
            <hr>
            <p>Warning your actions have been logged and you will face the full force of the law if there are attempts to hack. If repeated attempts are detected, action will be taken against hackers!</p>
        </div>
    }
    <h2>Ongoing CTF</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CompetitionName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var competition in Model)
            {
                counter = 0;
                counter2 = competition.Teams.Count() - 1;
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => competition.CompetitionName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => competition.Status)
                    </td>
                    <td>
                        @if (competition.Teams.Count == 0)
                        {
                            <a asp-controller="Competitions" asp-action="Join" asp-route-id="@competition.ID"><input type="button" value="Join" class="btn btn btn-default"></a>
                            //break;
                        }
                        else
                        {
                            @foreach (var team in competition.Teams)
                            {
                                if (counter == 0)
                                {
                                    @if (team.TeamUsers.Count == 0)
                                    {
                                        <a asp-controller="Competitions" asp-action="Join" asp-route-id="@competition.ID"><input type="button" value="Join" class="btn btn btn-default"></a>
                                        counter = 1;
                                        //break;
                                    }
                                    else
                                    {
                                        @foreach (var teamUsers in team.TeamUsers)
                                        {
                                            if (teamUsers.UserId.Equals(user.Id))
                                            {
                                                <a asp-controller="Challenges" asp-action="Index" asp-route-id="@competition.ID"><input type="button" value="View" class="btn btn btn-default"></a>
                                                counter = 1;
                                                break;
                                            }
                                            else
                                            {
                                                if (counter2 == 0)
                                                {
                                                    <a asp-controller="Competitions" asp-action="Join" asp-route-id="@competition.ID"><input type="button" value="Join" class="btn btn btn-default"></a>
                                                }
                                                counter2--;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br>
    <h2>Past CTF</h2>
</div>