@using Microsoft.AspNetCore.Identity
@model IEnumerable<UserSide.Models.Competition>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 0;
    int counter2 = 0;
}
@inject UserManager<IdentityUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}

<br>
<div class="container">
    @if ((bool)ViewData["ShowWrongDirectory"] == true)
    {
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Invalid Directory!</h4>
            <p>Ignore if this was accidental</p>
            <hr>
            <p>Warning your actions have been logged and you will face the full force of the law if there are attempts to hack. If repeated attempts are detected, action will be taken against hackers!</p>
        </div>
    }
    <h2>Upcoming CTF</h2>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CompetitionName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var competition in Model)
            {
                if (competition.Status.Equals("Upcoming"))
                {
                    counter = 0;
                    //counter2 = competition.Teams.Count() - 1;
                    //Counter 2 handles number of users. Only when it reaches the last user and unable to find a match then it will place the button
                    counter2 = 0;
                    @foreach (var Team in competition.Teams)
                    {
                        @foreach (var teamUsers in Team.TeamUsers)
                        {
                            counter2++;
                        }
                    }
                    counter2 -= 1;
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => competition.CompetitionName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => competition.Status)
                        </td>
                        <td>
                            @if (competition.Teams.Count == 0)
                            {
                                <a asp-controller="Competitions" asp-action="Join" asp-route-id="@competition.ID"><input type="button" value="Join" class="btn btn btn-outline-primary"></a>
                                //break;
                            }
                            else
                            {
                                @foreach (var team in competition.Teams)
                                {
                                    if (counter == 0)
                                    {
                                        @if (team.TeamUsers.Count == 0)
                                        {
                                            <a asp-controller="Competitions" asp-action="Join" asp-route-id="@competition.ID"><input type="button" value="Join" class="btn btn btn-outline-primary"></a>
                                            counter = 1;
                                            //break;
                                        }
                                        else
                                        {
                                            @foreach (var teamUsers in team.TeamUsers)
                                            {
                                                if (teamUsers.UserId.Equals(user.Id))
                                                {
                                                    <p>This competition has not started. Please check back again.</p>
                                                    counter = 1;
                                                    break;
                                                }
                                                else
                                                {
                                                    if (counter2 == 0)
                                                    {
                                                        <a asp-controller="Competitions" asp-action="Join" asp-route-id="@competition.ID"><input type="button" value="Join" class="btn btn btn-outline-primary"></a>
                                                    }
                                                    counter2--;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <br>

    <h2>Ongoing CTF</h2>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CompetitionName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var competition in Model)
            {
                if (competition.Status.Equals("Active"))
                {
                    counter = 0;
                    //counter2 = competition.Teams.Count() - 1;
                    //Counter 2 handles number of users. Only when it reaches the last user and unable to find a match then it will place the button
                    counter2 = 0;
                    @foreach (var Team in competition.Teams)
                    {
                        @foreach (var teamUsers in Team.TeamUsers)
                        {
                            counter2++;
                        }
                    }
                    counter2 -= 1;
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => competition.CompetitionName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => competition.Status)
                        </td>
                        <td>
                            @if (competition.Teams.Count == 0)
                            {
                                <a asp-controller="Competitions" asp-action="Join" asp-route-id="@competition.ID"><input type="button" value="Join" class="btn btn btn-outline-primary"></a>
                                //break;
                            }
                            else
                            {
                                @foreach (var team in competition.Teams)
                                {
                                    if (counter == 0)
                                    {
                                        @if (team.TeamUsers.Count == 0)
                                        {
                                            <a asp-controller="Competitions" asp-action="Join" asp-route-id="@competition.ID"><input type="button" value="Join" class="btn btn btn-outline-primary"></a>
                                            counter = 1;
                                            //break;
                                        }
                                        else
                                        {
                                            @foreach (var teamUsers in team.TeamUsers)
                                            {
                                                if (teamUsers.UserId.Equals(user.Id))
                                                {
                                                    <a asp-controller="Challenges" asp-action="Index" asp-route-id="@competition.ID"><input type="button" value="View" class="btn btn btn-outline-primary"></a>
                                                    counter = 1;
                                                    break;
                                                }
                                                else
                                                {
                                                    if (counter2 == 0)
                                                    {
                                                        <a asp-controller="Competitions" asp-action="Join" asp-route-id="@competition.ID"><input type="button" value="Join" class="btn btn btn-outline-primary"></a>
                                                    }
                                                    counter2--;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <br>
    <h2>Past CTF</h2>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CompetitionName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var competition in Model)
            {
                if (competition.Status.Equals("Inactive"))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => competition.CompetitionName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => competition.Status)
                        </td>
                        <td>
                            <a asp-controller="Challenges" asp-action="Index" asp-route-id="@competition.ID"><input type="button" value="View" class="btn btn btn-outline-primary"></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>