@model Amazon.EC2.Model.DescribeInstancesResponse;
@{
    ViewData["Title"] = "Testing Page";
}

<div class="row">
    <div class="col-lg-3">
        <partial name="../_AWSTestingNav.cshtml" />
    </div>
    <div class="col-lg-9" style="margin-top: 25px; margin-bottom: 10%;">
        <h4>Content</h4>
        <div class="row">
            <div class="col-lg-6">
                @if (!String.IsNullOrEmpty(Convert.ToString(ViewData["Result"])) && Convert.ToString(ViewData["Result"]) != "Successfully Terminated!" && Convert.ToString(ViewData["Result"]) != "Successfully Created and Running!")
                {
                    <div class="alert alert-danger" role="alert">
                        @ViewData["Result"]
                    </div>
                }
                @if (Convert.ToString(ViewData["Result"]) == "Successfully Created and Running!" || Convert.ToString(ViewData["Result"]) == "Successfully Terminated!")
                {
                    <div class="alert alert-success" role="alert">
                        @ViewData["Result"]
                    </div>
                }
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Instance ID
                            </th>
                            <th>
                                Architecture
                            </th>
                            <th>
                                Launch Time
                            </th>
                            <th>
                                Instance State
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            @foreach (var reservation in Model.Reservations)
                            {
                                @foreach (var instance in reservation.Instances)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => instance.InstanceId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => instance.Architecture)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => instance.LaunchTime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => instance.State.Name.Value)
                                        </td>
                                        <td>
                                            <form method="post">
                                                <input type="hidden" name="instanceId" value="@instance.InstanceId" />
                                                <button type="submit" class="btn btn-danger">Terminate Instance</button>
                                            </form>

                                        </td>
                                    </tr>
                                }

                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
