@model Amazon.EC2.Model.DescribeSubnetsResponse;
@{
    ViewData["Title"] = "Testing Page";
}

<div class="row">
    <div class="col-lg-3">
        <partial name="../_AWSTestingNav.cshtml" />
    </div>
    <div class="col-lg-9" style="margin-top: 25px; margin-bottom: 10%;">
        <h4>Content</h4>
        <div class="row">
            <div class="col-lg-6">
                @if (!String.IsNullOrEmpty(Convert.ToString(ViewData["Result"])) && Convert.ToString(ViewData["Result"]) != "Successfully Deleted!" && Convert.ToString(ViewData["Result"]) != "Successfully Created!")
                {
                    <div class="alert alert-danger" role="alert">
                        @ViewData["Result"]
                    </div>
                }
                @if (Convert.ToString(ViewData["Result"]) == "Successfully Created!" || Convert.ToString(ViewData["Result"]) == "Successfully Deleted!")
                {
                    <div class="alert alert-success" role="alert">
                        @ViewData["Result"]
                    </div>
                }
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                IPv4 CIDR Block
                            </th>
                            <th>
                                IPv6 CIDR Block
                            </th>
                            <th>
                                Subnet State
                            </th>
                            <th>
                                Subnet ID
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var subnet in Model.Subnets)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => subnet.CidrBlock)
                                </td>
                                @foreach (var ipv6CIDR in subnet.Ipv6CidrBlockAssociationSet)
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => ipv6CIDR.Ipv6CidrBlock)
                                    </td>
                                }
                                <td>
                                    @Html.DisplayFor(modelItem => subnet.State)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => subnet.SubnetId)
                                </td>
                                <td>
                                    <form method="post">
                                        <input type="hidden" name="subnetId" value="@subnet.SubnetId" />
                                        <button type="submit" class="btn btn-danger">Delete Subnet</button>
                                    </form>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
