@model AdminSide.Areas.PlatformManagement.Models.PlatformLogsParentViewModel
@{
    ViewData["Title"] = "Platform Logs";
}
<div class="row">
    <div class="col-lg-3">
        <partial name="../_MainNav.cshtml" />
    </div>
    <div class="col-lg-9">
        <br />
        <div class="row">
            <div class="col-lg-12">
                @if (!String.IsNullOrEmpty(Convert.ToString(TempData["Exception"])))
                {
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="alert alert-danger" role="alert">
                                @TempData["Exception"]
                            </div>
                        </div>
                    </div>
                }
                @if (ViewData["Mode"].Equals("Generic"))
                {
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="alert alert-info" role="alert">
                                All Log Entries except for SQL Server Error Logs, will now be shown as raw entries without any entries
                            </div>
                        </div>
                    </div>
                }
                <form asp-action="" method="post" class="form-inline">
                    <label class="my-1 mr-2" for="logGroup">Select which component of the platform to view logs for:</label>
                    <select id="selection" class="custom-select my-1 mr-sm-2" id="Component" name="StreamID" required>
                        @foreach (var stream in Model.Streams)
                        {
                            <option value="@stream.ID">@stream.DisplayName</option>
                        }
                        <option value="0">SQL Server Error Logs</option>
                    </select>
                    <input type="hidden" name="ViewMode" value="@ViewData["Mode"]" />
                    <button type="submit" class="btn btn-primary my-1">Retrieve Events</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <br />
                    @if (Model.Response != null && ViewData["Mode"].Equals("Generic"))
                    {
                        <table id="CWresults" class="table">
                            <thead>
                                <tr>
                                    <th>
                                        TimeStamp
                                    </th>
                                    <th>
                                        Log
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var loggedEvent in Model.Response.Events)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => loggedEvent.Timestamp)
                                        </td>
                                        <td>
                                            <div>
                                                @Html.DisplayFor(modelItem => loggedEvent.Message)
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    } @if (Model.Response == null && Model.SQLlogs != null)
                    {
                        <table id="CWresults" class="table">
                            <thead>
                                <tr>
                                    <th>
                                        TimeStamp
                                    </th>
                                    <th>
                                        Process Information
                                    </th>
                                    <th>
                                        Log Text
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var loggedEvent in Model.SQLlogs)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => loggedEvent.LogDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => loggedEvent.ProcessInfo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => loggedEvent.Text)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var previous = @Model.SelectedValue;
    if (previous == null || previous == -1)
        document.getElementById("selection").selectedIndex = -1;
    else {
        for (i = 0; i < document.getElementById("selection").options.length; i++) {
            var value = document.getElementById("selection").options[i].value
            if (value == previous) {
                document.getElementById("selection").selectedIndex = i;
                break;
            }
        }
    }
</script>