@model IEnumerable<AdminSide.Models.RSSFeed>

@{
    ViewData["Title"] = "NewsFeed";
}

<!-- Style -->
<style>

    /* BACK TO TOP*/
    #myBtn {
        display: none;
        position: fixed;
        bottom: 15px;
        right: 50px;
        z-index: 99;
        font-size: 18px;
        border: groove;
        padding: 5px;
        outline: none;
        background-color: white;
        cursor: pointer;
        border-radius: 2px;
    }

        #myBtn:hover {
            background-color: #555;
            color: white;
        }
</style>
<!-- Back To Top -->
<div>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Back to Top</button>
</div>

<div class="container">
    <h2>NewsFeed</h2>
    <br />
    <form class="form-inline" method="post">
        <div class="form-group mx-sm-3 mb-2">
            <label for="searchBar" class="sr-only"></label>
            <input type="text" class="form-control" id="searchBar" placeholder="Search Query" name="searchQuery" />
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="Filter" id="allRadio" value="All" checked />
                <label class="form-check-label" for="titleRadio">
                    All
                </label><input class="form-check-input" type="radio" name="Filter" id="titleRadio" value="Title" />
                <label class="form-check-label" for="titleRadio">
                    Title
                </label>
                <input class="form-check-input" type="radio" name="Filter" id="catRadio" value="Category" />
                <label class="form-check-label" for="catRadio">
                    Catergory
                </label>
                <input class="form-check-input" type="radio" name="Filter" id="descRadio" value="Description" />
                <label class="form-check-label" for="descRadio">
                    Description
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Search</button>


    </form>
    @if ((bool)ViewData["ShowNoResult"] == true)
    {
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">No Search Result!</h4>
            <p>Please search again with different phrasing. This might help to get your result.</p>
            <hr>

        </div>
    }
    @if (!String.IsNullOrEmpty(Convert.ToString(ViewData["Alert"])))
    {
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Invalid Search Input</h4>
            <p>Please search again with different phrasing. This might help to get your result.</p>
            <hr>

        </div>
    }

    <table id="NewsFeedTable" class="table table-hover">
        <thead>
            <tr>
                <th>Category</th>
                <th>Title</th>
                <th>Link</th>
                <th>Description</th>
                @*<th>Published Date</th>*@
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.sourceCat)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            <a href="@item.Link" />
                            @Html.DisplayFor(modelItem => item.Link)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.PubDate)
                            </td>*@
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
@section Scripts {
    <!-- Script for Back To Top Button -->
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 10 || document.documentElement.scrollTop > 10) {
                document.getElementById("myBtn").style.display = "block";
            } else {
                document.getElementById("myBtn").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }

        var search = document.getElementById("searchBar").value;
        $(document).ready(function () {
            var table = $('#NewsFeedTable').DataTable({
                "searching": false
            });
            $('#NewsFeedTable').removeAttr("style");
            $('#NewsFeedTable *').removeAttr("style");
        });
    </script>
}