@model AdminSide.Areas.PlatformManagement.Models.Template

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Template</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OperatingSystem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OperatingSystem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AWSAMIReference)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AWSAMIReference)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
