@model UserSide.Models.Chat

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Chat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SendRec)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SendRec)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Messsage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Messsage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ChatID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
