@model UserSide.Models.Challenge

@{
    ViewData["Title"] = "Details";
}

<br>
<div class="container">
    <div>
        <h4>Challenge</h4>
        <!--Probably rename header to challenge name-->
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Value)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Value)
            </dd>
        </dl>
        <form method="get" action="@ViewData["FileLink"]">
            <button type="submit">Download!</button>
        </form>
    </div>
    <div>
        <form method="post" asp-action="Details">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="Flag" class="control-label"></label>*@
                <input asp-for="Flag" class="form-control" />
                <span asp-validation-for="Flag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" asp-route-id="@Model.ID" />
            </div>
        </form>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>