@model UserSide.Models.Competition

@{
    ViewData["Title"] = "Challenges";
}

<title>@ViewData["Title"] - Challenges</title>

<br>
<div class="col-md-8 offset-md-2">
    <hr>
    @foreach (var item in Model.CompetitionCategories)
    {
        <h2>@Html.DisplayFor(modelItem => item.CategoryName)</h2>
        <hr>
        <row>
            <!--Loop through this part dynamically-->
            <div>
                @foreach (var item1 in Model.Challenges)
                {
                    if (item1.CompetitionCategoryID == item.ID)
                    {
                        <a asp-controller="Challenges" asp-action="Details" asp-route-id="@item.ID">
                            <button type="button" class="btn btn-light">
                                @Html.DisplayFor(modelItem => item1.Name)
                                <br>
                                @Html.DisplayFor(modelItem => item1.Value)
                            </button>
                        </a>
                    }
                }
            </div>
        </row>
    }
</div>
